#sidebar {
  display: block;
  position: absolute;
  top: 56px;
  z-index: 10;
  height: calc(100% - 56px);
  width: 220px;
  box-shadow: 6px 0px 21px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 0px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 0px 21px -9px rgba(0, 0, 0, 0.75);
}

#sidebar.close {
  display: none;
}